/***************/
/*    FONTS    */
/***************/

@font-face {
  font-family: "Smurf";
  src: url("../fonts/Bazinga-Regular.otf") format("opentype"),
}

@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/rene_bieder__milliard_medium-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder__milliard_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNovaLight';
  src: url('../fonts//rene_bieder__milliard_light-webfont.woff2') format('woff2'),
       url('../fonts/rene_bieder__milliard_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-color: var(--pagina-bg-color);
  cursor: url('../images/cursorNormaal.png'), auto;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}
 




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --pagina-bg-color:#82BFD7;
  --bg-color:#FFFFFF;
  --bg-color-gras: #ACBD3D;
  --header-primary-color:#0055A4;
  --header-secondary-color:#ccc;
  --header-text-shadow:#FFFFFF;
  --box-shadow: #333;
  --img-shadow: #0009;
  --text-color-light: #ffffff;
  --text-color: #1b1b1b;
  --border-color:#1b1b1b;
  --smurf-color-light:#63b2f9;
  --error-color: #cc1c1c;
  --error-color-hover: #ac0d0d;
  --hover-button: linear-gradient(90deg, rgba(15, 109, 198, 1) 0%, rgba(26, 133, 233, 1) 50%, rgba(194, 225, 255, 100) 50%, rgba(194, 225, 255, 100) 100%);
}

/* DONKER THEMA */
:root.darkmode {
  --pagina-bg-color:#6899AC;
  --bg-color:#3a3a3a;
  --bg-color-gras: #787c2c;
  --header-primary-color:#cc1c1c;
  --header-secondary-color:#767676;
  --header-text-shadow:#d5d5d5;
  --box-shadow: #333;
  --img-shadow: #0009;
  --text-color-light: #ffffff;
  --text-color: #ffffff;
  --border-color:#d5d5d5;
  --smurf-color-light:#f03a3a;
  --error-color: #cc1c1c;
  --error-color-hover: #ac0d0d;
  --hover-button: linear-gradient(90deg, rgba(2, 63, 120, 1) 0%, rgba(2, 63, 120, 1) 50%, rgba(0, 85, 164, 1)  50%, rgba(0, 85, 164, 1) 100%);
}





/*****************************************************/
/*    HEADER + h1 + Button + animatie Surfen woord   */
/*****************************************************/

header{
  position:fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;

	left:2em;
	top:2em;
	margin:0;
  width: 100%;
}

header h1 {
  font-family: Smurf, Arial, Helvetica, sans-serif;
  font-size: 2.8em;
  color:var(--header-primary-color);
  text-shadow: 2px 2px 0px var(--header-text-shadow);

  display: flex;

  margin: 0;
  height: 1.6em;
  width: 8em;
}

/* voor het woord 'smurfen' */
header h1 span{
  padding: 0;
}

/* Beetje meer ruimte aan de linkerkant */
header h1 span:nth-of-type(1){
  margin-left: .25em;
}

/* animatie van het woord 'smurfen' */
/* Bron https://codepen.io/alvarotrigo/pen/xxLvyOG?editors=1100 */
header h1:hover span{
  display: inline-block;

  animation-name: springen;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}

header h1:hover span:nth-of-type(2) {
  animation-delay: .15s;
}

header h1:hover span:nth-of-type(3) {
  animation-delay: .3s;
}

header h1:hover span:nth-of-type(4) {
  animation-delay: .45s;
}

header h1:hover span:nth-of-type(5) {
  animation-delay: .6s;
}

header h1:hover span:nth-of-type(6) {
  animation-delay: .75s;
}

header h1:hover span:nth-of-type(7) {
  animation-delay: .9s;
}

button{
  font-family: proximaNova, Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;

  appearance:none;
	border:none;

  box-shadow:0 .5em 0 var(--box-shadow);		
  transform:translatey(-.5em);
  padding: .6em .8em .6em .8em;
  border-radius: .8em;
  transition: .3s;
}






/**********************/
/*    muziek button   */
/**********************/

header section button{
  color: var(--text-color);

  background: var(--hover-button);
  background-size: 200% 100%;
  background-position: 100% 0%;
  padding: .2em 1.2em .2em .8em;

  animation: schudden 2s linear ;
  animation-delay: 7s;
}

/* image van smurf met trompet  */
header section button img{
  width: 4em;
}

/* Bron voor button states: https://codepen.io/shooft/pen/eYKdyxY?editors=1100 */
header section button:hover{
  cursor: url('../images/cursorPointer.png'), auto;
	background-position: 0% 0%;
  color: var(--text-color-light);
}

header section button:focus-visible{
  transform:translatey(-.75em);
	box-shadow:0 .75em 0 var(--border-color);
  outline: none;
}

header section button:active{
  transform:translatey(0);
	box-shadow: 0 0 0 var(--border-color);
}






/*****************************/
/*    Toggle -> dark mode    */
/*****************************/

header section:nth-of-type(2){
  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  flex-direction: column;

  height: fit-content;
  width: 11em;
  margin-right: 4em;
  padding: .5em 1em 1em 1em;
  border-radius: 1em;
}

header section:nth-of-type(2) P {
  font-family: proximaNovaLight, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--text-color);
}

/* bron voor de toggle switch: https://www.w3schools.com/howto/howto_css_switch.asp  */
header section:nth-of-type(2) label {
  position: relative;
  display: inline-block;

  width: 3.75em;
  height: 2.125em;
}

/* de default HTML checkbox niet weergeven en helemaal buiten beeld zetten*/
header section:nth-of-type(2) label input {
  position: absolute;
  left:-9999em;
}

header section:nth-of-type(2) label span{
  background-color: var(--header-secondary-color); 
  border-radius: 2.125em;               

  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

/* cursor aanpassen bij hover  */
header section:nth-of-type(2) label span:hover{
  cursor: url('../images/cursorPointer.png'), auto;
}

/* Het bolletje in de toggle */
header section:nth-of-type(2) label span:before {
  content: "";
  background-color: var(--bg-color);
  border-radius: 50%;

  position: absolute;

  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  transition: .4s;
}

/* verschillende states voor de toggle */
header section:nth-of-type(2) label input:checked + span {
  background-color: var(--header-secondary-color);
}

header section:nth-of-type(2) label input:focus + span {
  box-shadow: 0 0 0 .2em var(--header-primary-color);
}

/* bolletje verplaatsen als deze aangeklikt wordt */
header section:nth-of-type(2) label input:checked + span:before {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}






/*****************************/
/*      HEADER KEYFRAMES     */
/*****************************/

@media (prefers-reduced-motion: no-preference){
  @keyframes springen {
    0% {
      transform:tanslateY(0);
      animation-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    5% {
      transform:translateY(0) scale(1.2, 0.8);
    }  
    
    50%{
      transform:translateY(-1em);
      animation-timing-function:cubic-bezier(0.895, 0.030, 0.685, 0.220);
    }
    
    100% {
      transform:tanslateY(0);
    }  
  }

  @keyframes schudden {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-13deg);
    }
    20% {
      transform: rotateZ(8deg);
    }
    25% {
      transform: rotateZ(-8deg);
    }
    30% {
      transform: rotateZ(4deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
}






/********************/
/*       MAIN       */
/********************/

main {
  background-image: url('../images/achtergrondSmurf.png');
  background-size:97em 104.6em;
  background-repeat:no-repeat;
  background-position:left top;

  margin:0;
  padding: 0;
  overflow: hidden;
}

/* achtergrond aanpassen met dark mode */
.darkmode main{
  background-image: url('../images/achtergrondNieuwDonker.png');
}

/* Grid en items binnen het grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  grid-row-gap: 8em;
  list-style-type: none;
  padding: 17em 0 0 0;

}

.grid-container .grid-item {
  padding: 1.5em;
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: relative; 
}

/* Grootte van de huisjes */
.grid-container .grid-item>img {
  width: 18em; 
  height: auto;
  border-radius: 8px;
}

.grid-container .grid-item figure{
  margin-right: .6em; 
}

/* Grootte van de smurfen  */
.grid-container .grid-item figure>img{
  margin-top: 3.5em;
  width: 6em;
  height: auto;
}






/**********************/
/*       FIGURE       */
/**********************/

figure:focus img{
  filter: drop-shadow(-0.1em 0.25em .2em var(--img-shadow));
}

/* tekst in tekswolk  */
figcaption{
  font-family: proximaNovaLight, Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  opacity: 0;
  
  position: absolute;
  padding: 1.2em;
  width: 12.5em;

  border: solid var(--border-color) 1px;
  border-radius: 1.5em;

  bottom: 14em; 
  left: 40%; /* Plaats het in het midden van de grid-item */
  transform: translateX(-50%); /* Centreer horizontaal */
}

/* toon tekstwolk wanneer de muis over de smurf beweegt */
figure:hover figcaption, 
figure:focus figcaption{
  opacity: 100%;
}

/* voor het driehoekje bij de tekstwolk  */
figcaption::after{
  content: "";
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
  background-color: var(--bg-color);

  position: absolute;
  top:calc(100% - .7126em - 1px);
  left:2.5em;
  width: 1.5em;
  height:1.5em;
  transform: rotate(45deg) skew(20deg, 20deg);
  border:solid 1px var(--border-color);
}






/**********************************/
/*     ALLE ITEMS POSITIONEREN    */
/**********************************/

/* Grid item 1 */
.grid-container .grid-item:nth-of-type(1)>img {
  transform: translateY(3em);
  }
  
.grid-container .grid-item:nth-of-type(1) figure img {
transform: translateY(3em);
}

.grid-container .grid-item:nth-of-type(1) figure figcaption {
bottom: 11em;
z-index: 3;
}

/* Grid item 2 */
.grid-container .grid-item:nth-of-type(2)>img {
transform: translateY(1em);
}

.grid-container .grid-item:nth-of-type(2) figure img {
transform: translateY(1.5em);
}

.grid-container .grid-item:nth-of-type(2) figure figcaption {
bottom: 12em;
z-index: 3;
}

/* Grid item 3 */
.grid-container .grid-item:nth-of-type(3)>img {
transform: translateY(2em);
}

.grid-container .grid-item:nth-of-type(3) figure img {
transform: translateY(2em);
}

.grid-container .grid-item:nth-of-type(3) figure figcaption {
bottom: 11.7em;
z-index: 3;
}

/* Grid item 4 */
.grid-container .grid-item:nth-of-type(4)>img {
transform: translateY(1em);
}

.grid-container .grid-item:nth-of-type(4) figure img {
transform: translateY(3.3em);
}

.grid-container .grid-item:nth-of-type(4) figure figcaption {
bottom: 9em;
z-index: 4;
}

/* Grid item 5 */
.grid-container .grid-item:nth-of-type(5) figure img {
transform: translateY(-.1em);
}

.grid-container .grid-item:nth-of-type(5) figure figcaption {
bottom: 13.2em;
z-index: 4;
}

/* Grid item 5 HOVER */
.grid-container .grid-item:nth-of-type(5)>img:nth-of-type(2) {
position: absolute;
left: 10.6em;
opacity: 0;
}

.grid-container .grid-item:nth-of-type(5):hover>img:nth-of-type(2) {
opacity: 1;
}

/* Grid item 6 */
.grid-container .grid-item:nth-of-type(6)>img {
transform: translateY(4em);
}

.grid-container .grid-item:nth-of-type(6) figure img {
transform: translateY(2em);
}

.grid-container .grid-item:nth-of-type(6) figure figcaption {
bottom: 11em;
z-index: 4;
}

/* Grid item 7 */
.grid-container .grid-item:nth-of-type(7)>img {
transform: translateY(-.5em);
}

.grid-container .grid-item:nth-of-type(7) figure img {
transform: translateY(-1em);
}

.grid-container .grid-item:nth-of-type(7) figure figcaption {
bottom: 14em;
z-index: 4;
}

/* Grid item 8 */
.grid-container .grid-item:nth-of-type(8)>img {
transform: translateY(.5em);
}

.grid-container .grid-item:nth-of-type(8) figure img {
transform: translateY(.3em);
}

.grid-container .grid-item:nth-of-type(8) figure figcaption {
bottom: 13em;
z-index: 4;
}






/**************************/
/*    EXTRA'S ACHTERAAN   */
/**************************/

/* SMURF NIET button  */
.grid-container .grid-item:nth-of-type(9) button{
  background: var(--error-color);
  color: var(--text-color-light);

  animation: schudden 2s linear;
  animation-delay: 15s;
  margin-right: 1.5em;
  width: 10em;
}

/* Bron voor button states: https://codepen.io/shooft/pen/eYKdyxY?editors=1100 */
.grid-container .grid-item:nth-of-type(9) button:hover{
  background: var(--error-color-hover);
  cursor: url('../images/cursorOmlaag.png'), auto;
}

.grid-container .grid-item:nth-of-type(9) button:focus-visible{
  transform:translatey(-.75em);
	outline: none;
	box-shadow:0 .75em 0 var(--border-color);
}

.grid-container .grid-item:nth-of-type(9) button:active{
  transform:translatey(0);
	box-shadow: 0 0 0 var(--border-color);
}

/* Gargamel */
main>div>img{
  z-index: 10;
  width: 50em;
  translate: 100em -52em;
  opacity: 0;
}




/*****************************/
/*   GARGAMEL MAAKT KAPOT    */
/*****************************/

/* deze classes toevoegen als er op de NIET smurfen knop wordt geklikt, van links naar rechts */
body.gargamelLopen main>div>img{
  animation: gargamel 20s ease-in;
  animation-fill-mode: forwards;
}

/* twee losse smurfen plat  */
/* body.gargamelLopen main ol li:nth-of-type(9) img:nth-of-type(3){
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

body.gargamelLopen main ol li:nth-of-type(9) img:nth-of-type(2){
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3s;
} */

/* list item 8 plat uit 2017*/
/* body.gargamelLopen main ol li:nth-of-type(8)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
}

body.gargamelLopen main ol li:nth-of-type(8) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5s;
} */

/* list item 7 plat uit 2013 */
/* body.gargamelLopen main ol li:nth-of-type(7)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;
}

body.gargamelLopen main ol li:nth-of-type(7) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6.2s;
} */

/* list item 6 plat uit 2011 */
/* body.gargamelLopen main ol li:nth-of-type(6)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 6.7s;
}

body.gargamelLopen main ol li:nth-of-type(6) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 7s;
} */

/* list item 5 plat uit 1981 */
/* body.gargamelLopen main ol li:nth-of-type(5)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 7.6s;
}

body.gargamelLopen main ol li:nth-of-type(5) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 8.1s;
} */

/* list item 4 plat uit 1975 */
/* body.gargamelLopen main ol li:nth-of-type(4)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 8.5s;
}

body.gargamelLopen main ol li:nth-of-type(4) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 9s;
} */

/* list item 3 plat uit 1960 */
/* body.gargamelLopen main ol li:nth-of-type(3)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 9.5s;
}

body.gargamelLopen main ol li:nth-of-type(3) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 9.8s;
} */

/* list item 2 plat uit 1959 */
/* body.gargamelLopen main ol li:nth-of-type(2)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 10.2s;
}

body.gargamelLopen main ol li:nth-of-type(2) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 10.6s;
} */

/* list item 2 plat uit 1958 */
/* body.gargamelLopen main ol li:nth-of-type(1)>img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 10.9s;
}

body.gargamelLopen main ol li:nth-of-type(1) figure img{
  animation: smurfPlatstampen .1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 11.3s;
} */






/*****************************/
/*      MAIN KEYFRAMES       */
/*****************************/

@media (prefers-reduced-motion: no-preference){
  /* gargamel heen en weer laten lopen  */
  @keyframes gargamel{
    0% {
      opacity: 1;
    }
    20% {
      transform: translateX(-140em) translateY(0) rotateY(0);
    }
    40% {
      transform: translateX(-140em) translateY(-23em) rotateY(180deg);
    }
    60% {
      transform: translateX(140em) translateY(-23em) rotateY(180deg);
    }
    80% {
      transform: translateX(0) translateY(-50em) rotateY(0);
    }
    100% {
      opacity: 1;
      transform: translateX(-140em) translateY(-50em) rotateY(0);
    }
  }

  /* smurf plat stampen als gargamel eroverheen loopt  */
  @keyframes smurfPlatstampen{
    0% {
      transform: perspective(30em) rotateX(0deg) scale(1, 1);
    }
    100% {
      transform: perspective(30em) rotateX(60deg) scale(1.2, 1);
    }
  }

}